body {
    margin-top: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9ded1;
}

section{
    background-color: #273f49;
    margin-left: 6vw;
    margin-right: 6vw;
}

.titulos{
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
    color: white;
}
.titulos-h2{
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    color: white;
}

p {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 20px;
    color: #d9ded1;
}