* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9ded1;
  margin-top: 0;
  height: 100vh;
}

.titulos{
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
  color: white;
}

.titulos-2{
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  color: white;
}

p {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #d9ded1;
}

header {
  background-color: #000000;
  width: 100%;
  position: fixed;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.logo{
  width: 6rem;
  height: 6rem
}

nav{
  display: flex;
  justify-content:space-between;
  padding: 0px 90px;
  height: 100px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
  
nav ul li {
  float: left;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

nav ul li a {
  display: block; /* elementos bloque para el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background: slategray;
  border-radius: 4px;
}

.contenido {
  padding-top: 8rem;
  font-size: medium;
  background-color: #273f49;
  margin-left: 6vw;
  margin-right: 6vw;
}

.img-club{
  text-align: center;
}

.btn-home{
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.redes-iconos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  font-size: 4rem;
  margin-block-start: 0;
  text-align: center;
  color: #d9ded1;
  margin-bottom: 10px;
}

.act-item{
  background-color: #74848C;
  width: 25vw;
  height: auto;
  border-radius: 20px;
}

.act-item h3{
  font-size: 2rem;
  font-family: "Noto Serif", serif;
  color: white;
}

.act-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
}

.btn-item{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: .85rem;
  background-color: #d9ded1;
}

.btn-item:hover{
  background-color: rgb(120, 170, 120);
  color: white;
}

.act-beneficios{
  display: flex;
  text-align: center;
  justify-content: center;
}

.img-tarjeta{
  width: 300px;
  height: 200px;
}

.footer{
  background-color: #000000;
  color: white;
  font-family: "Lato", serif;
  text-align: center;
}

.footer-link{
  color: white;
}