* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/Fondo.jpg) fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
  font-size: 3rem;
}

p {
  margin-bottom: 20px;
}

/* No se esta usando por el momento */
/* .Nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  overflow:hidden;
} */

header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 10;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content:space-between;
  padding: 0px 50px;
  height: 60px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
  
nav ul li {
  float: left;
  font-size: 16px;
}

nav ul li a {
  display: block; /* elementos bloque para el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background: slategray;
  border-radius: 4px;
}

.contenido {
  padding-top: 4rem;
  font-size: medium;
  background-color: rgba(248,248,255,0.8);
  margin-left: 6vw;
  margin-right: 6vw;
}

.btn-home{
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.redes-iconos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  font-size: 5rem;
  margin-block-start: 0;
  text-align: center;
}

.act-item{
  background-color: slategray;
  width: 25vw;
  height: auto;
  border-radius: 20px;
}

.act-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
}

.btn-item{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: .85rem;
}

.btn-item:hover{
  background-color: blue;
  color: white;
}

.act-beneficios{
display: flex;
text-align: center;
justify-content: center;

}