<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/contacto.css" />
    <title>Contacto</title>
</head>
<body>  
    <div class="container">  
        <form id="contact" action="" method="post">
          <h3>Contacto</h3>
          <fieldset>
            <input placeholder="Nombre" type="text" tabindex="1" id="nombre" >
          </fieldset>
          <div class="error" id="error-nombre"></div>
          <fieldset>
            <input placeholder="Email" type="email" tabindex="2" id="email">
          </fieldset>
          <div class="error" id="error-email"></div>
          <fieldset>
            <input placeholder="Numero de teléfono" type="tel" tabindex="3" id="telefono">
          </fieldset>
          <div class="error" id="error-telefono"></div>
          <fieldset>
            <legend>¿Eres socio?</legend>
            <div>
              <input type="radio" name="esSocio" value="si" id="esSocio">Si</input>
            </div>
            <div>
              <input type="radio" name="esSocio" value="no" id="esSocio">No</input>
            </div>
          </fieldset>
          <div class="error" id="error-esSocio"></div>
          <fieldset>
            <legend>Seleccione el tipo de consulta</legend>
            <select id="consulta">
              <option>--Seleccione una opción--</option>
              <option>Quiero asociarme</option>
              <option>Actividades disponibles</option>
              <option>Suscripción al newsletter</option>
              <option>Problemas con la facturación</option>
              <option>Darme de baja</option>
            </select>
          </fieldset>
          <div class="error" id="error-consulta"></div>
          <fieldset>
            <textarea placeholder="Escribe tu mensaje..." tabindex="5" id="mensaje"></textarea>
          </fieldset>
          <div class="error" id="error-mensaje"></div>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Enviar</button>
          </fieldset>
        </form>
      </div>
    <script src="../static/js/validateContact.js"></script>
</body>
</html>