<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/contacto.css" />
    <title>Contacto</title>
</head>
<body>  
    <div class="container">  
        <form id="contact" action="" method="post">
          <h3>Contacto</h3>
          <fieldset>
            <input placeholder="Nombre" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Email" type="email" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder="Numero de teléfono" type="tel" tabindex="3" required>
          </fieldset>
          <fieldset>
            <legend>¿Eres socio?</legend>
            <div>
              <input type="radio" name="esSocio" value="si" id="si">Si</input>
            </div>
            <div>
              <input type="radio" name="esSocio" value="no" id="no">No</input>
            </div>
          </fieldset>
          <fieldset>
            <legend>Seleccione el tipo de consulta</legend>
            <select>
              <option>--Seleccione una opción--</option>
              <option>Quiero asociarme</option>
              <option>Actividades disponibles</option>
              <option>Suscripción al newsletter</option>
              <option>Problemas con la facturación</option>
              <option>Darme de baja</option>
            </select>
          </fieldset>
          <fieldset>
            <textarea placeholder="Escribe tu mensaje..." tabindex="5" required></textarea>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Enviar</button>
          </fieldset>
        </form>
      </div>
</body>
</html>