<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sobre-nosotros.css" />
    <title>Quienes Somos</title>
</head>
<body>
    
    <section>
        <h1 class="titulos">Historia del Club</h1>
        <p>
            El Club CAC fue establecido en 1982 por un grupo de visionarios apasionados por el deporte y la cultura 
            en la ciudad de Pueblo Nuevo, ubicada en la costa este del país. Su objetivo era crear un espacio 
            inclusivo que no solo promoviera la actividad física, sino que también celebrara la riqueza cultural 
            de la región.
        </p>

        <h2 class="titulos-h2">Nuestra Misión</h2>
        <p>
            El Club CAC tiene como misión promover un estilo de vida saludable y activo, así como enriquecer la 
            vida cultural de la comunidad de Pueblo Nuevo. A través del deporte, la música, el arte y otras 
            actividades recreativas, buscamos inspirar y empoderar a las personas de todas las edades para que 
            alcancen su máximo potencial físico, mental y emocional.
        </p>

        <h2 class="titulos-h2">Nuestros Objetivos</h2>
        <p>  
            Fomentar la práctica deportiva como herramienta para el desarrollo integral de los individuos y 
            la construcción de una comunidad unida y solidaria.
            
            Promover la inclusión y la participación de personas de todas las edades, géneros, 
            habilidades y procedencias en nuestras actividades deportivas y culturales.
            
            Ofrecer programas de calidad en deportes, música, arte y actividades recreativas que 
            fomenten el crecimiento personal, la autoestima y el trabajo en equipo.
            
            Colaborar con instituciones educativas y organizaciones comunitarias para promover 
            valores positivos y habilidades sociales entre los jóvenes.
            
            Preservar y promover la rica herencia cultural de Pueblo Nuevo a través de la 
            música, el arte y la celebración de tradiciones locales.
        </p>  
            
        <h2 class="titulos-h2">Nuestros Valores</h2>
        <p>    
            Respeto: Valoramos la diversidad y tratamos a todas las personas con respeto, dignidad y consideración.
            <br /><br />
            Trabajo en Equipo: Reconocemos el poder del trabajo en equipo y colaboramos de 
            manera efectiva para alcanzar nuestros objetivos comunes.
            <br /><br />
            Superación Personal: Fomentamos el espíritu de superación personal y el desarrollo 
            continuo tanto en el deporte como en las artes.
            <br /><br />
            Pasión: Nos apasiona lo que hacemos y nos esforzamos por inspirar esa pasión en los demás, 
            creando un ambiente en el que todos puedan prosperar y disfrutar.
        </p>

        <h2 class="titulos-h2">Impacto en la Comunidad</h2>
        <p>
            A lo largo de los años, el Club CAC ha tenido un impacto profundo en la comunidad de Pueblo Nuevo. 
            No solo ha proporcionado oportunidades para que las personas se mantengan activas y saludables, sino 
            que también ha servido como un lugar donde las personas pueden conectar y celebrar su amor por el 
            deporte y la cultura. El club ha trabajado en estrecha colaboración con las escuelas locales y 
            otras organizaciones comunitarias para promover valores como el trabajo en equipo, la inclusión y el respeto.

            En resumen, el Club CAC es un faro de deporte, cultura y comunidad en Pueblo Nuevo, y continúa 
            siendo un símbolo de orgullo y unidad para todos sus miembros.
        </p>
    </section>

    <section>
        <div class="faq-container">
            <h1 class="titulos">Preguntas Frecuentes</h1>
            <details>
                <summary>
                    <span class="faq-title">
                        ¿Dónde está ubicado el club?
                    </span>
                </summary>
                <div class="faq-content">
                    <p> Vivamus leo neque, luctus ac dignissim non, vehicula ut diam. Morbi eu urna interdum, cursus tortor quis, aliquam quam. Aliquam quis tellus ante. Morbi aliquet quam sem, et molestie dolor aliquet sed. Vivamus vehicula turpis nunc, ut hendrerit ante pulvinar eu. Pellentesque consectetur risus sit amet nulla sagittis, sit amet condimentum nisl tristique. Aliquam sit amet arcu eget risus dapibus fringilla vitae quis nunc. Cras commodo laoreet nulla ac rutrum. Fusce quam felis, malesuada ut condimentum eu, vulputate sed justo. Duis ac rhoncus neque.</p>
                </div>
            </details>
            
            <details>
                <summary>
                    <span class="faq-title">
                        ¿Puedo anotarme a las actividades si no soy socio?
                    </span>
                </summary>
                <div class="faq-content">
                    <p> Vivamus leo neque, luctus ac dignissim non, vehicula ut diam. Morbi eu urna interdum, cursus tortor quis, aliquam quam. Aliquam quis tellus ante. Morbi aliquet quam sem, et molestie dolor aliquet sed. Vivamus vehicula turpis nunc, ut hendrerit ante pulvinar eu. Pellentesque consectetur risus sit amet nulla sagittis, sit amet condimentum nisl tristique. Aliquam sit amet arcu eget risus dapibus fringilla vitae quis nunc. Cras commodo laoreet nulla ac rutrum. Fusce quam felis, malesuada ut condimentum eu, vulputate sed justo. Duis ac rhoncus neque.</p>
                </div>
            </details>
            <details>
                <summary>
                    <span class="faq-title">
                        ¿Cuáles son los horarios del club?
                    </span>
                </summary>
                <div class="faq-content">
                    <p> Vivamus leo neque, luctus ac dignissim non, vehicula ut diam. Morbi eu urna interdum, cursus tortor quis, aliquam quam. Aliquam quis tellus ante. Morbi aliquet quam sem, et molestie dolor aliquet sed. Vivamus vehicula turpis nunc, ut hendrerit ante pulvinar eu. Pellentesque consectetur risus sit amet nulla sagittis, sit amet condimentum nisl tristique. Aliquam sit amet arcu eget risus dapibus fringilla vitae quis nunc. Cras commodo laoreet nulla ac rutrum. Fusce quam felis, malesuada ut condimentum eu, vulputate sed justo. Duis ac rhoncus neque.</p>
                </div>
            </details>
            <details>
                <summary>
                    <span class="faq-title">
                        Trabaja con nosotros
                    </span>
                </summary>
                <div class="faq-content">
                    <p> Vivamus leo neque, luctus ac dignissim non, vehicula ut diam. Morbi eu urna interdum, cursus tortor quis, aliquam quam. Aliquam quis tellus ante. Morbi aliquet quam sem, et molestie dolor aliquet sed. Vivamus vehicula turpis nunc, ut hendrerit ante pulvinar eu. Pellentesque consectetur risus sit amet nulla sagittis, sit amet condimentum nisl tristique. Aliquam sit amet arcu eget risus dapibus fringilla vitae quis nunc. Cras commodo laoreet nulla ac rutrum. Fusce quam felis, malesuada ut condimentum eu, vulputate sed justo. Duis ac rhoncus neque.</p>
                </div>
            </details>
            <details>
                <summary>
                    <span class="faq-title">
                        Políticas sobre la baja de socios
                    </span>
                </summary>
                <div class="faq-content">
                    <p> Vivamus leo neque, luctus ac dignissim non, vehicula ut diam. Morbi eu urna interdum, cursus tortor quis, aliquam quam. Aliquam quis tellus ante. Morbi aliquet quam sem, et molestie dolor aliquet sed. Vivamus vehicula turpis nunc, ut hendrerit ante pulvinar eu. Pellentesque consectetur risus sit amet nulla sagittis, sit amet condimentum nisl tristique. Aliquam sit amet arcu eget risus dapibus fringilla vitae quis nunc. Cras commodo laoreet nulla ac rutrum. Fusce quam felis, malesuada ut condimentum eu, vulputate sed justo. Duis ac rhoncus neque.</p>
                </div>
            </details>
        
        </div>    
    </section>

</body>
</html>