<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/carrusel.css">
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tenis</title>
</head>
<body>
    <div class="slider-container">

        <div class="slider-content">
    
            <div class="slider-single">
                <img class="slider-single-image" src="../static/Tenis img/1t.jpg" alt="1" />
                <h1 class="slider-single-title">Todos somos un gran equipo</h1>
                <a class="slider-single-likes" >
                    <i class="fa fa-heart"></i>
                    <p>1,705</p>
                </a>
            </div>
    
            <div class="slider-single">
                <img class="slider-single-image" src="../static/Tenis img/2t.jpg" alt="2" />
                <h1 class="slider-single-title">Somos una familia</h1>
                <a class="slider-single-likes" >
                    <i class="fa fa-heart"></i>
                    <p>1,427</p>
                </a>
            </div>
    
            <div class="slider-single">
                <img class="slider-single-image" src="../static/Tenis img/3t.jpg" alt="3" />
                <h1 class="slider-single-title">Compartimos grandes momentos</h1>
                <a class="slider-single-likes" >
                    <i class="fa fa-heart"></i>
                    <p>1,405</p>
                </a>
            </div>
    
    
            <div class="slider-single">
                <img class="slider-single-image" src="../static/Tenis img/4t.jpg" alt="4" />
                <h1 class="slider-single-title">Es un estilo de vida</h1>
                <a class="slider-single-likes" >
                    <i class="fa fa-heart"></i>
                    <p>1,247</p>
                </a>
            </div>
        </div>
    </div>

    <script src="../static/carrusel.js"></script>
</body>
</html>